{% extends 'base.html' %}

{% block title %}Import CSV{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- Titre -->
    <div class="mb-4">
        <h2 class="fw-bold">Import de commissions</h2>
        <p class="text-muted">Importer un fichier CSV</p>
    </div>

    <!-- Carte upload -->
    <div class="card shadow-sm border-0 p-4">

        <form>

            <div class="mb-3">
                <label class="form-label">Choisir un fichier CSV</label>
                <input type="file" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">
                Importer
            </button>

        </form>

    </div>

    <!-- Résultat -->
    <div class="card shadow-sm border-0 mt-4">
        <div class="card-header bg-white">
            <h5 class="mb-0">Résultat</h5>
        </div>
        <div class="card-body text-center text-muted">
            Aucun fichier importé
        </div>
    </div>

</div>
{% endblock %}